[Unit]
Description=URL Shortener
After=network.target

[Service]
User=root
WorkingDirectory=/root/apps/url-shortener
ExecStart=/root/apps/url-shortener/url-shortener
Restart=always
RestartSec=4
StandartOutput=inherit
EnviromentFile=/root/apps/url-shortener/convig.env

[Install]
WantedBy=multi-user.target
